# Dependencies
node_modules

# Build output
dist

# Git & version control
.git
.gitignore
.github

# Dev/IDE tooling
.vscode
.husky
eslint.config.mjs
nodemon.json

# Environment files
.env
.env.test
.env.example

# Docker dev files
compose.dev.yaml
Dockerfile.dev

# Documentation
README.md
SETUP.md
DEPLOYMENT.md
*.md

# Tests
tests
__tests__
*.test.ts
*.spec.ts
vitest.config.ts

# Logs
logs
*.log

# Misc
uploads
.DS_Store
