services:
  app:
    image: as3305100/task-manager:build-e3a8bb5cc8d666c3084016d5390e4d77e549809e
    deploy:
      replicas: 1
      update_config:
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        parallelism: 1
        order: start-first
    healthcheck:
      test:
        - CMD
        - wget
        - '--no-verbose'
        - '--tries=1'
        - '--spider'
        - http://127.0.0.1:3000/health
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 1m
    environment:
      - PORT=3000
      - NODE_ENV=production
      - CLIENT_URL=http://localhost:5173
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - ACCESS_TOKEN_EXPIRY=30m
      - REFRESH_TOKEN_EXPIRY=1d
      - FORGOT_PASSWORD_REDIRECT_URL=http://localhost:3000/api/v1/users/reset-password
      - SMTP_USER_FILE=/run/secrets/smtp_user
      - SMTP_PASS_FILE=/run/secrets/smtp_pass
      - ACCESS_TOKEN_SECRET_FILE=/run/secrets/access_token_secret
      - REFRESH_TOKEN_SECRET_FILE=/run/secrets/refresh_token_secret
      - DATABASE_URL_FILE=/run/secrets/database_url
      - REDIS_URL_FILE=/run/secrets/redis_url
      - CLOUDINARY_CLOUD_NAME_FILE=/run/secrets/cloudinary_cloud_name
      - CLOUDINARY_API_KEY_FILE=/run/secrets/cloudinary_api_key
      - CLOUDINARY_API_SECRET_FILE=/run/secrets/cloudinary_api_secret
    networks:
      - task_net
    secrets:
      - smtp_pass
      - smtp_user
      - access_token_secret
      - refresh_token_secret
      - database_url
      - redis_url
      - cloudinary_cloud_name
      - cloudinary_api_key
      - cloudinary_api_secret
  caddy:
    image: caddy:2-alpine
    deploy:
      replicas: 1
      update_config:
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        parallelism: 1
        order: start-first
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - task_net
    configs:
      - source: Caddyfile
        target: /etc/caddy/Caddyfile
networks:
  task_net: null
volumes:
  caddy_data: null
  caddy_config: null
secrets:
  database_url:
    external: true
  redis_url:
    external: true
  smtp_user:
    external: true
  smtp_pass:
    external: true
  access_token_secret:
    external: true
  refresh_token_secret:
    external: true
  cloudinary_cloud_name:
    external: true
  cloudinary_api_key:
    external: true
  cloudinary_api_secret:
    external: true
configs:
  Caddyfile:
    file: ./Caddyfile
